.bodyError {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
                .centrado {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                        .h1yp {
                            font-family: sans-serif;
                            flex-direction: column;
                            margin-top: 100px;
                            margin-right: 380px;
                        }
                }
            }

.nav-link {
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    border-radius: 10px solid black;
    opacity: 1.0;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav-link:hover {
    opacity: 1
}

/* @media screen and (min-width: 456px) {
    .centrado {
    flex-direction: row;
    flex-wrap: wrap; 
    }
} */

/* SE ME ROMPE EL HTML AL APLICAR LAS MEDIA QUERY */