@import '../base/variables';
@import '../base/listas';
.present {
    width: 100%;
    height: 100vh;
    background-image: url("image/cocanuevo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;

    .present-container {
        color: color nth($colores , 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-style: italic;
    margin-top: 30px;
        }
}